.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5%;
    width: 314px;
    height: 414px;
    opacity: 0.9;
}

.cardContainer:hover {
    opacity: 1;
}

.cardImg {
    width: 314px;
    height: 270px;
    object-fit: cover;
}

.cardDescription {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #6D6D6D;

}

.h3Title {
    margin: 10px;
    color: #4D4D4D;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardP {
    margin: 10px;
    color: #4D4D4D;
    font-family: Merriweather Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    /* 31.5px */
}