/* ---------MOBILE--------- */
@media (max-width: 450px) {
    .mainDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }

    /* h2 {
        font-family: 'Open Sans';
        font-size: 25px;
        text-align: left;
        color: #000000;
        font-weight: 900;
        width: 85vw;
    } */

    .mainP {
        font-family: 'Merriweather';
        font-size: 18px;
        text-align: left;
        color: #666666;
        font-weight: 400;
        width: 85vw;
        margin: 3%;
    }
}

/* ---------DESKTOP & TABLET--------- */
@media (min-width: 451px) {

    .descImgDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 575px;
        margin-top: 60px;
        background-color: #FFF;
        padding-bottom: 50px #4D4D4D;
    }

    .descDiv {
        display: flex;
        flex-direction: column;
    }

    .descH2 {
        font-family: 'Merriweather';
        font-size: 45px;
        text-align: left;
        color: #1E1E1E;
        font-weight: 900;
        padding-top: 5vw;
        padding-left: 5vw;
        width: 355px;
    }

    .descP {
        font-family: 'Merriweather';
        font-size: 14px;
        text-align: left;
        color: #666666;
        font-weight: 400;
        padding-left: 5vw;
        margin-bottom: 10vh;
        width: 355px;
        line-height: 175%;
    }

    .descImg {
        z-index: 1;
    }

    .carouselButtons {
        display: none;
        /* position: absolute; */
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .descImgDiv:hover .carouselButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carouselButtons button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #1E1E1E;
    }

    .carouselButtons .start-stop {
        font-size: 36px;
    }

    .carouselButtons .chevron {
        font-size: 48px;
    }

    .infoDiv {
        background-color: #4D4D4D;
        width: 100vw;
        height: max-content;
        min-height: 70vh;
    }

    .titleDiv {
        display: flex;
        /* justify-content: space-between; */
        padding: 5%;
    }

    .selectedTitle {
        margin: 0;
        width: 20vw;
        height: 115px;
        background-color: #4D4D4D;
    }

    .titleButton {
        margin: 0;
        width: 20vw;
        height: 115px;
        background-color: #4D4D4D;
    }

    .contentDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
        text-align: left;
    }

    .summaryDiv {
        width: 33.33%;
        padding-right: 5vw;
        color: #FFF;
        font-family: Merriweather;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 175%;
    }

    .textDiv {
        width: 66.66%;
        padding-right: 3vw;
        font-family: 'Merriweather';
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
    }
    
    .koreanText {
        font-family: 'Noto sans korean';
        /* font-size: 18px; */
        font-style: normal;
        font-weight: 900;
        line-height: 175%;
    }

}